.img___2YTQH {
  width: 420px;
  height: auto;
  max-width: 100%; }
  @media (max-width: 767px) {
    .img___2YTQH {
      width: 100%;
      height: auto; } }

.slider___22kvX {
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden
}
.slider2___1RHfL {
	position: relative;
	width: 100%;
	height: 800px;
	overflow: hidden
}

@media (max-width:767px)
{
	.slider___22kvX {
		position: relative;
		width: 100%;
		height: 510px;
		overflow: hidden
	}

	.slider2___1RHfL {
		position: relative;
		width: 100%;
		height: 400px;
		overflow: hidden
	}
}


.slider___22kvX a.previousButton___2nQGZ, .slider___22kvX a.nextButton___2DnyA {
	font-size: 22px;
	line-height: 0;
	display: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	z-index: 1;
	color: #FFF;
	padding: 10px;
	text-decoration: none;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden
	/* prevent jump effect when scaling */
}

.slider___22kvX a.previousButton___2nQGZ:not(.disabled___2NTuF):hover, .slider___22kvX a.nextButton___2DnyA:not(.disabled___2NTuF):hover {
	-webkit-transform: translateY(-50%) scale(1.25);
	        transform: translateY(-50%) scale(1.25);
	cursor: pointer;
}

.slider___22kvX a.previousButton___2nQGZ {
	left: 20px;
}

.slider___22kvX a.nextButton___2DnyA {
	right: 20px;
}


/* .slider2 a.previousButton > svg, .slider2 a.nextButton > svg {
	height: 50px;
	width: 50px;
	border-width: 1px;
	background-color: #FFF;
	border-radius: 5px;
	opacity:0.5
} */
.slider2___1RHfL a.previousButton___2nQGZ, .slider2___1RHfL a.nextButton___2DnyA {
	font-size: 60px;
	line-height: 0;
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	z-index: 1;
	color: #FFF;
	padding: 10px;
	text-decoration: none;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden
	/* prevent jump effect when scaling */
}

.slider2___1RHfL a.previousButton___2nQGZ:not(.disabled___2NTuF):hover, .slider2___1RHfL a.nextButton___2DnyA:not(.disabled___2NTuF):hover {
	-webkit-transform: translateY(-50%) scale(1.25);
	        transform: translateY(-50%) scale(1.25);
	cursor: pointer;
}

.slider2___1RHfL a.previousButton___2nQGZ {
	left: 20px;
}

.slider2___1RHfL a.nextButton___2DnyA {
	right: 20px;
}

.slide___35LZr {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden
}

.slide___35LZr.hidden___2Vbdg {
	visibility: hidden;
}

.slide___35LZr.previous___XGNnp {
	left: -100%;
}

.slide___35LZr.current___1KaZN {
	left: 0;
}

.slide___35LZr.next___2RA7H {
	left: 100%;
}

 .slide___35LZr.animateIn___1Eo9j,
	.slide___35LZr.animateOut___3MiW8 {
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}

 .slide___35LZr.animateIn___1Eo9j,
	.slide___35LZr.animateOut___3MiW8 {
	-webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.slide___35LZr.animateIn___1Eo9j.previous___XGNnp,
		.slide___35LZr.animateIn___1Eo9j.next___2RA7H {
	left: 0;
	visibility: visible;
}

.slide___35LZr.animateOut___3MiW8.previous___XGNnp {
	left: 100%;
}

.slide___35LZr.animateOut___3MiW8.next___2RA7H {
	left: -100%;
}


