.container___2Lzj4 {
  padding-top: 100px;
  margin-bottom: 200px; }
  @media (max-width: 767px) {
    .container___2Lzj4 {
      margin-bottom: 70px; } }

.img___2YTQH {
  width: 420px;
  height: auto;
  max-width: 100%; }
  @media (max-width: 767px) {
    .img___2YTQH {
      width: 100%;
      height: auto; } }

